<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationUrl</key>
	<string>http://kokkedal.kirkeapp.dk/</string>
	<key>ApplicationName</key>
	<string>Kokkedal Kirke</string>
</dict>
</plist>
